 input {
     padding: 1px 7px;
     border-radius: 4px;
     font-weight: 700;
     border: 1px solid black;
 }

 label {
     font-weight: 800;
     color: black;
     font-size: 18px;
     ;
 }


 h1 {
     border-radius: 12px;
     font-size: 2.3rem;
     color: rgb(5, 5, 6);
     padding-left: 15px;
     padding-top: 25px;
 }

 p {
    padding:.2rem;

     font-size: 16px;
     color: rgb(249, 249, 249);
 }

 .maindiv {
     width: 100vw;
     height: 100vh;
     background-image: url(image.png);
     background-size: 100% 100%;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .container {
     height: 70vh;
     width: 26vw;
     backdrop-filter: blur(10px);
     background: rgb(255, 255, 255, 0.2);
     padding: 1 rem;
     border-radius: 12px;
     border: 2px solid #fff;
     padding-left: 30px;
 }
 /* .result-box {
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.result-box h2 {
    margin-top: 0;
    font-size: 1.5rem;
} */
